@font-face {
    font-family: yekan;
    src: url("./../fonts/B\ Yekan.TTF");

}
*{
    direction: rtl;
    font-family: yekan;   
}
html,#back{
     background-color: #DDDDDD;
}
#frm{
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    background-color: #DDDDDD;
}

#samary{
    border-radius: 0px 20px 20px 0px;
    background-color: #DDDDDD;
    padding: 2rem;
}
#shapingCart{
    border-radius: 20px 0px 0px 20px;
    background-color: #ffffff;
    padding: 2rem;
}
span{
    font-size: 22px;
}
img{
    width: 50px;
    height: 50px;
}
.leftxt{
    text-align: left;
}
.discountCode{
    border-radius: 0;
    border: 0;
    background-color: #FFF;
    text-align: right;
    width: 100%;
}
option{
    border-radius: 0;
    border: 0;
}
#btnpayment{
    background-color: black;
    text-align: center;
}
.divsamary{
    margin-bottom: 20px;
}
#shapingCartitems{
    text-align: end;
}
.cartitems{
    
}