@font-face {
    font-family: yekan;
    src: url("./../fonts/B Yekan.TTF");
}
*{
    direction: rtl;
    font-family: yekan;
}

#frm{
    margin-top: 100px;
    box-shadow: 10px 10px 10px 10px #000;
    border-radius: 20px;
    background-color: #DDDDDD;
}
#samary{
    border-radius: 0px 20px 20px 0px;
    background-color: #DDDDDD;
    padding: 2rem;
}
#shapingCart{
    border-radius: 20px 0px 0px 20px;
    background-color: #ffffff;
}
img{
    width: 50px;
    height: 50px;
}
