@font-face {
    font-family: vazir;
    src: url("./../fonts/Vazir-Bold.ttf");
}
*{
    font-family: vazir;   
}
#header{
    background-color: #535353;
    padding: 10px;
}
.txtwite{
    color: white;
    width: 100%;
}
#hedShow{
    text-align: right;
}
.table{
    margin-bottom: 0px;
}
thead th{
    background-color: #8d8d8d !important;
}
footer{
    background-color: #535353 ;
    color: white;
    padding: 15px;
  }
.pencel{
    float: right;
}
.delete{
    float: left;
}
.ActionButtons{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}